<app-navbar1></app-navbar1>
<p></p>
<div class="row mt-5">
  <div class="container col-md-6 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Crear Cuenta</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Tipo de Cuenta: </label>
                    <select class="form-select" name="Tipo Cuenta" [(ngModel)]="producto.tipCuenta"
                    required>
                        <option value="Ahorro" selected>Ahorro</option>
                        <option value="Corriente">Corriente</option>
                    </select>
                </div>
                <p></p>
            </form>
            <div class="card-footer text-center">
              <button (click)="Guardar()" class="btn btn-outline-success" style="margin-right: 5px;"><i class="fas fa-check"></i> Confirmar</button>
              <button (click)="Volver6()" class="btn btn-outline-secondary" style="margin-left: 5px;"><i class="fas fa-long-arrow-alt-left"></i> Volver</button>
            </div>
          </div>
    </div>
  </div>
</div>

