<p></p>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Cliente</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres: </label>
                    <input [(ngModel)]="clientes.nombres" name="Nombres" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellidos: </label>
                    <input  [(ngModel)]="clientes.apellidos" name="Apellidos" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Tipo de identificacion: </label>
                    <select class="form-select" name="Tipo de identificacion" [(ngModel)]="clientes.tpIdentificacion"
                    required>
                        <option value="C.C" selected>Cédula ciudadania</option>
                        <option value="C.E">Cédula extranjeria</option>
                        <option value="NIT">NIT</option>
                        <option value="PA">Pasaporte</option>
                        <option value="T.I">Tarjeta de identidad</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Numero de identificacion: </label>
                    <input  [(ngModel)]="clientes.numIdentificacion" name="Numero de identificacion" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Email: </label>
                    <input  [(ngModel)]="clientes.email" name="Email" type="text" class="form-control">
                </div>
                <div class="nb-4">
                    <fieldset>
                        <label for="">Fecha de nacimiento: </label>
                    |   <input [(ngModel)]="clientes.fechaNacimiento" name="Fecha de nacimiento" type="date" class="form-control"
                            required="" />
                    </fieldset>
                </div>
                <div class="form-group">
                    <label for="">Contraseña: </label>
                    <input  [(ngModel)]="clientes.contrasenia" name="Contraseña" type="text" class="form-control">
                </div>
                <p></p>
                <button (click)="Guardar()" class="btn btn-outline-success">Registrar</button>
            </form>
        </div>
    </div>
</div>